:root {
    --primaryColour: #006400; /* background colour - darkgreen */
    --secondaryColour: #90ee90; /* shadow colour - lightgreen */
    --terciaryColour: #ffffff; /* letter/border colour - white */
    --shadowStyle: 0px 0px 10px; /* shadow formatting */
}

body, html {
    background-image: url(../images/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#header {
    background-color: var(--primaryColour);
	background-image: url(../images/LyfeRiskLogo.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items:center;
}

#header h1 {
    text-align: center;
    text-shadow: var(--shadowStyle) var(--secondaryColour);
    color: var(--terciaryColour);
    padding-left: 80px;
    padding-right: 80px;
}

#navbar ul {
	list-style: none;
	font-size: 1em;
	text-align: center;
	background-color: transparent;
	height: 5px;
	padding: 0.3em 1em;
    float: right;
    margin: 0;
}

#navbar li {
	display: inline-block;
}

a:link, a:visited {
	padding: 5px;
	color: var(--terciaryColour);
	background-color: var(--primaryColour);
	text-decoration: none;
}

a:hover {
	background-color: var(--primaryColour);
	color: var(--terciaryColour);
    border-color: var(--terciaryColour);
    border: 2px solid;
}

button {
	padding: 5px;
	color: var(--terciaryColour);
	background-color: var(--primaryColour);
	text-decoration: none;
}

button:hover {
	background-color: var(--primaryColour);
	color: var(--terciaryColour);
    border-color: var(--terciaryColour);
    border: 2px solid;
}

#container {
    border-style: solid;
    border-color: var(--primaryColour);
    border-radius: 20px;
    background-color: var(--terciaryColour);
    margin-top: 80px;
}

#container h2 {
    text-align: center;
    text-shadow: 0px 0px 20px var(--secondaryColour);
    color: var(--primaryColour);
}

#container p {
    text-align: center;
    padding: 10px;
}

label {
    display: inline-block;
}

footer {
    background-color: var(--primaryColour);
    position: fixed;
    right: 0;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: smaller;
    color: var(--terciaryColour);
}

footer a {
    float: right;
}