<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/website/HTMLversion/styles/baseStyle.css">
    <title>LyfeRisk</title>
  </head>
  
  <body>
    <div id="header">
      <h1>LyfeRisk</h1>

      <div id="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
      </div>
    </div>
    
    <main>
      <div id="container">
        <h2>Login</h2>
        <form method="post">
          <p><label>Name*:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="firstname" required autocomplete="on"></label></p>
          <p><label>Email*:&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="email" autocomplete="on"></label></p>
          <p><label>Passord*:&nbsp;<input type="password" name="password" required></label></p>
          <p>Fields marked with * are mandatory</p>
        </form>
        <p><a href="menu.html">Login</a></p>
      </div>
    </main>
  </body>

  <footer>
    <p>
      &copy; Alex Fenlon, Jason Fleming, Laiba Asif, Miguel Reis <a href="credits.html">Credits</a></li>
    </p>
  </footer>
</html>
