<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/website/HTMLversion/styles/baseStyle.css">
    <title>LyfeRisk</title>
  </head>
  
  <body>
    <div id="header">
      <h1>LyfeRisk</h1>

      <div id="navbar">
        <ul>
          <li><a href="predict.html">Predicting Algorithm</a></li>
          <li><a href="profiling.html">Profiling Algorithm</a></li>
          <li><a href="export.html">Export Information</a></li>
        </ul>
      </div>
    </div>
    
    <main>
      <div id="container">
        <h2>Menu</h2>
        <p>
          You can check your patients risk profiles with our prediction algorithm.
        </p>
        <p>
          You can run reports establishing the levels of risk for all categories with our profiling algorithm.
        </p>
        <p>
          You can export patient information with our export option.
        </p>
        <p>
          <a href="predict.html">Predicting Algorithm</a>
          <a href="profiling.html">Profiling Algorithm</a>
          <a href="export.html">Export Information</a>
        </p>
      </div>
    </main>
  </body>

  <footer>
    <p>
      &copy; Alex Fenlon, Jason Fleming, Laiba Asif, Miguel Reis <a href="credits.html">Credits</a></li>
    </p>
  </footer>
</html>
